/**
* Variáveis globais para estilização
*/

// Cores

$white: #fff !default;
$light-grey: #F7F7F7 !default;
$dark-grey: #707070 !default;;
$medium-grey: #C9C9C9 !default;
$shaped-red: #DE4B4B !default;
$grey-strong: #3C3C3C !default;
$black: #000 !default;
$yellow: #F6BB1D !default;
$green: #75B812 !default;
$red: #DA3331 !default;
$error: #EB5757;

// Font

$default-font: 'Verdana', Roboto, Helvetica, sans-serif;
$card-font: 'San Francisco Text', Verdana, Roboto, Helvetica, sans-serif;
$button-font: 'San Francisco Text', Verdana, Roboto, Helvetica, sans-serif;

// Sizes

$default-font-size: 16px;

