// Importando arquivo reset CSS (normalize.css)

@import './../assets/scss/_normalize';

// Importando front personalizada San Francisco

@import './../assets/scss/fonts';

body {
  background-color: $light-grey;
  font-family: $default-font;
}

// Bootstrap container

@media only screen and (max-width: 767px) {
  .container {
    &.fluid-mobile {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Page #header

header {
  padding: 16px 0;
  background-color: $white;
}

// Logo

#logo {
  width: 260px;
}


// Main menu

#main-menu {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 16px;
      }
      a {
        display: block;
        text-indent: -9999px;
        width: 100px;
        height: 18px;
        border-radius: 5px;
        background-color: $grey-strong
      }
    }
  }
}

// Checkout section

#checkout {
  overflow-x: hidden;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  #checkout {
    padding: 32px 0;
  }
}

#payment-box {
  .checkout-card-container {
    background-color: $shaped-red;
    padding: 40px 15px;
    color: $white;
    position: relative;
    .restart-payment {
      font-size: 0.8125rem;
      a {
        color: #fff;
      }
    }
  }

  .add-new-credit-card {
    .label-new-card {
      img {
        margin-right: 16px;
      }

      span {
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: -0.41px;
      }
    }

    .credit-card-box {
      position: relative;
      width: 280px;
      height: 172px;
      perspective: 1000px;
      cursor: pointer;
      .card {
        position: relative;
        width: 100%;
        height: 100%;
        color: $white;
        transform-style: preserve-3d;
        transition: 0.3s ease-out;
        font-family: $card-font;
        .front, .back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          border-radius: 6px;
          top: 0;
          left: 0;
          transform-style: preserve-3d;
          background-size: 100%;
          backface-visibility: hidden;
          transition: 0.2s;
        }

        .front {
          padding: 24px;

          #brand-logo {
            position: absolute;
            width: 60px;
            height: 24px;
            top: 24px;
            left: 24px;
            transition: all 0.2s;
            background-repeat: no-repeat;
            background-position: left center;
            background-repeat: no-repeat;
            &.visa {
              background-image: url('./../assets/public/img/brand-icons/visa.svg');
            }

            &.mastercard {
              background-image: url('./../assets/public/img/brand-icons/mastercard.svg');
            }

            &.elo {
              background-image: url('./../assets/public/img/brand-icons/elo.svg');
            }

            &.diners {
              background-image: url('./../assets/public/img/brand-icons/diners-club.svg');
            }

            &.american-express{
              background-image: url('./../assets/public/img/brand-icons/american-express.svg');
            }

            &.discover {
              background-image: url('./../assets/public/img/brand-icons/discover.svg');
            }
          }

          .card-field {
            text-shadow: 0 1px 2px $black;
          }

          .card-number {
            margin: 0;
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            text-align: center;
            font-size: 1.1875rem;
            transform: translateY(-50%);
            &.filled {
              letter-spacing: 3px;
            }
          }

          .card-name, .card-expiration-date {
            font-size: 0.75rem;
            text-transform: uppercase;
          }

          .card-name {
            max-width: 80%;
            overflow: hidden;
          }
        }

        .back {
          transform: rotateY(180deg);
          .cvv-box {
            width: 48px;
            height: 21px;
            position: absolute;
            color: #3C3C3C;
            top: 81px;
            left: 128px;
            text-align: center;
            line-height: 24px;
            p {
              margin: 0;
            }
          }
        }

        &.default {
          .front {
            background-image: url('./../assets/public/img/card-default-front.svg');
            #brand-logo {
              opacity: 0;
            }
          }

          .back {
            background-image: url('./../assets/public/img/card-default-back.svg');
          }
        }

        &.identified {
          .front {
            background-image: url('./../assets/public/img/card-identified-front.svg');
            #brand-logo {
              opacity: 1;
            }
          }
          .back {
            background-image: url('./../assets/public/img/card-identified-back.svg');
          }
        }
      }

      &.flipped {
        .card {
          transform: rotateY(-180deg);
        }
      }
    }
  }

  .checkout-form-container {
    background-color: #fff;
  }
}

@media only screen and (max-width: 991px) {
  #payment-box {
    .checkout-card-container {
      padding-bottom: 128px;
      .restart-payment {
        text-align: center;
        margin-bottom: 24px;
        position: relative;
        a {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.75rem;
        }
      }
    }

    .add-new-credit-card {
      .label-new-card {
        max-width: 220px;
        margin: 0 auto;
      }

      .credit-card-box {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60px;
      }
    }

    .checkout-form-container {
      padding: 88px 40px 40px 40px;
    }
  }

  #payment-form {
    width: 280px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  #payment-box {
    height: 100%;
    .checkout-card-container {
      width: 352px;
      padding: 50px 16px 50px 64px;
      height: 100%;
      position: relative;
      z-index: 9;
      .restart-payment {
        margin-bottom: 56px;
        a {
          > i {
            font-size: 1.145rem;
            padding-right: 4px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    .add-new-credit-card {
      .label-new-card {
        margin-bottom: 32px;
        img {
          width: 50px;
        }
        span {
          font-size: 1.25rem;
        }
      }

      .credit-card-box {
        width: 365px;
        height: 225px;
        .card {
          .front {
            #brand-logo {
              width: 72px;
              height: 32px;
            }
            .card-number {
              font-size: 1.5rem;
              letter-spacing: 0.4px;
              &.filled {
                letter-spacing: 4px;
              }
            }

            .card-name, .card-expiration-date {
              font-size: 1rem;
            }
          }

          .back {
            .cvv-box {
              width: 62px;
              height: 26px;
              top: 106px;
              left: 166px;
              line-height: 27px;
            }
          }
        }
      }
    }

    .checkout-form-container {
      width: calc(100% - 352px);
      padding: 54px 64px 54px 168px;
      position: relative;
      .checkout-wizard-list {
        width: 100%;
        position: absolute;
        right: 64px;
        ul {
          list-style: none;
          margin: 0;
          li {
            display: inline-block;
            color: $red;
            position: relative;
            font-size: 0.815rem;

            .number {
              display: inline-block;
              width: 22px;
              height: 22px;
              font-weight: bold;
              border-radius: 100%;
              border: 1px solid $red;
              text-align: center;
              line-height: 20px;
              &.completed {
                background-color: $red;
                &::after {
                  font-family: 'ds-icon' !important;
                  content: "\e900";
                  color: #fff;
                  font-size: 1rem;
                }
              }
            }
            &:not(:last-child) {
              margin-right: 48px;
              &::after {
                font-family: 'ds-icon' !important;
                content: "\e903";
                position: absolute;
                font-size: 1.2rem;
                right: -36px;
                top: 2px;
              }
            }
          }
        }
      }
    }
  }
}

// #Checkout inputs labeled

.input-labeled {
  position: relative;
  input {
    border: 0;
    width: 100%;
    border-bottom: 1px solid $medium-grey;
    height: 36px;
    font-size: 1rem;
    color: $grey-strong;
    transition: all 0.2s;
  }

  &.has-danger {
    input {
      border-bottom-color: $red;
    }
  }

  label {
    position: absolute;
    color: $medium-grey;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.125rem;
    cursor: text;
    transition: 0.3s;
    &.opened {
      font-size: 0.8125rem;
      top: 0;
      transform: translateY(-12px);
    }
  }
}

// #Checkout customized-select

.customized-select {
  position: relative;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid $medium-grey;

  &.has-danger {
    border-bottom-color: $red;
  }
  &::before {
    font-family: 'ds-icon' !important;
    content: "\e901";
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    color: $red;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0;
    position: absolute;
    color: $medium-grey;
    width: 100%;
    cursor: pointer;
    left: 0;
    top: 4px;
    font-size: 1.125rem;
    &.filled {
      color: $grey-strong;
    }
  }
}

// Input dentro do payment-box

#payment-form {
  .input-labeled, .customized-select  {
    margin-bottom: 32px;
    &.has-danger {
      margin-bottom: 40px;
    }
  }

  button {
    background-color: $red;
    border: 0;
    height: 50px;
    color: $white;
    width: 100%;
    border-radius: 10px;
    font-size: $button-font;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 992px) {
  #payment-form {
    margin-top: 80px;
    .input-labeled, .customized-select {
      margin-bottom: 60px;
      &.has-danger {
        margin-bottom: 60px;
      }
    }
    button {
      width: 246px;
      float: right;
      transition: all 0.2s;
      &:hover {
        background-color: darken($red, 10%);
        cursor: pointer;
      }
    }
  }
}


// Form validation

.input-labeled {
  &.has-error {
    input {
      border-bottom-color: $error;
    }
  }
}

.pristine-error {
  color: $error;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  top: 42px;
}

@media only screen and (max-width: 991px) {
  .pristine-error {
    font-size: 0.65rem
  }
}
